@import "tailwindcss";

.credit-text a {
    /* Base styles for all links within this container */
    @apply text-blue-600 font-medium no-underline transition duration-150 ease-in-out;
}

.credit-text a:hover {
    /* Hover styles for all links within this container */
    @apply text-blue-800 underline;
}

[r3f-a11y] {
  position: fixed !important;
  top: -9999px !important;
  left: -9999px !important;
  pointer-events: none !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}